services:
  app:
    container_name: container-react-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
